# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment & Secrets
.env

# Database
*.db
*.sqlite3

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# OS / Editor files
.DS_Store
.vscode/
.idea/
